In [3]:
import pandas as pd

In [4]:
csv_path = "Resources/election_data.csv"

elec_df = pd.read_csv(csv_path, encoding="utf-8")

elec_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
elec_totals = elec_df["Voter ID"].count
print(elec_totals)

<bound method Series.count of 0          12864552
1          17444633
2          19330107
3          19865775
4          11927875
             ...
3520996    18050509
3520997    13060332
3520998    16754708
3520999    12083146
3521000    14526187
Name: Voter ID, Length: 3521001, dtype: int64>