In [2]:
import pandas as pd

In [3]:
csv_path = "Resources/budget_data.csv"

bank_df = pd.read_csv(csv_path, encoding="utf-8")

bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
print(f"Total Months: ", bank_df["Date"].count())

Total Months:  86

In [9]:
print(f"Total: $", bank_df["Profit/Losses"].sum())

Total: $ 38382578

In [22]:
bank_df["Profit/Losses"].mean()

446309.0465116279

In [18]:
bank_df["Profit/Losses"].max()

1170593

In [19]:
bank_df["Profit/Losses"].min()

-1196225